@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>SchoolSystem</h3>

<p>SchoolSystem is a free to use software to help u manage all the information needed for a school.
    As a teacher u can edit the information in the database: you can change, add or delete information.
    However, as a student or a parent you can only check the information that you wish to know.
    There are limited accounts and only the teachers and administrators would have access to them.</p>
